/* * {
  overflow-x: hidden;
  padding: 0px !important;
  margin: 0px !important;
} */


/* .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
} */
*{
 font-size: 100%;
 font-family: Century Gothic;
}

html, body {
    max-width: 100%;
    scroll-behavior: smooth;
}


/* index page -----------------------------------------------------------------*/
.sectionDivFirst{
  /* padding-bottom: 20px; */
  /* font-family: Montserrat; */
  height: 700px;
  width: auto;
}

.captionJoinUs {
  /* position: relative; */
  z-index: 10;
  /* transform: translateY(-50%); */
  /* left: 50px; */
  padding-top: 300px;
  width: 100%;
  font-family: Montserrat;
  font-weight: bolder;
  color: rgba(255, 255, 255, 1);

}

.captionText{

  top: 300px;
  padding-left: 10vh;
}

.homeBanner{
  height:  700px;
  text-align: center;
  font-family: Montserrat;
  /* background: url('../images/v201_585.png') no-repeat fixed; */
  background-attachment: fixed;
  background-size: cover;
  /* padding: auto; */
  margin-top: auto;
  margin-bottom: auto;
  /* background-position: center; */
  background-attachment: initial;
}

h5{
  font-weight: Bold;
}

h4{
  font-weight: Bold;
}

#navBar{
  position: relative;
  z-index: 1001;
  position: relative;
  overflow: hidden;
}

#navDivOverlap{
  position: absolute;
  z-index: 1000;
  z-index: 1001;
  position: relative;
  overflow: visible;
}


#navDiv{
  background-color: "black";
  z-index: 1001;
  position: relative;
  overflow: visible;
}

#subNav{
  position: absolute;
  width: 100%;
  margin-top: 60px;
  z-index: 10;
  background-color: rgba(0,0,0,0);;
}

.index-cover{
  opacity: 0.7;
}

.column{
  /* float:left; */
  width: 50%;
}

.row{
    width:100%;
    margin: 0;
    padding: 0;
}

.col-6{
  padding: 0;
}

/* Clear floats after the columns */
/* .row:after {
  content: "";
  display: table;
  clear: both;
} */

/* #carouselExampleIndicators {
  height: 500px;
  opacity: 1;
  overflow: hidden;
} */

.sectionDiv{
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Montserrat;
}

.V1_Title {
  color: rgba(0,0,0,1);
  font-family: Montserrat;
  font-weight: bolder;
  font-size: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  opacity: 1;
  text-align: center;
}

.v1_1 {
  color: rgba(0,0,0,0.800000011920929);
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}


.productDiv{
  background: rgba(250,250,250,1);
}
.productText {
  color: rgba(0,0,0,0.800000011920929);
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.productImg {
  /* padding-top: 20px; */
  /* margin-left: auto;
  margin-right: auto; */
  opacity: 1;
  object-fit: contain;
}

.websiteLogo {
  padding-top: 20px;
  margin-top: -20px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  opacity: 1;
  object-fit: contain;
}


/* .blogBlock{

} */
/* Blog title */
.iconRow{

}

.clientsImg {
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  width: 150px;
  opacity: 1;
  object-fit: contain
}

.clientsImgLong {
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  width: 300px;
  opacity: 1;
  object-fit: contain;
}

.blogTitle {
  color: rgba(0,0,0,0.800000011920929);
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
  padding-top: 20px;
}
/* Blog content */
.blogContent {
  color: rgba(0,0,0,0.800000011920929);
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.blogImg {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 400px;
  object-fit: cover;
  /* text-align: center;
  align-items: center; */
  opacity: 1;
  /* overflow: hidden; */
}

#learnMore {
  margin-left: auto;
  margin-right: auto;
  /* color: rgba(47,128,237,1); */
  font-family: Montserrat;
  /* font-weight: Medium;
  font-size: 15px; */
  opacity: 1;
  text-align: center;
}





/* footer */
#footerLink{
  display: block;
  width: 100%;
  text-align: right;
}

.footerCopyright{
  font-family: Montserrat;
  /* font-style: normal;
  font-weight: normal; */
  font-size: 12px;
  /* identical to box height, or 114% */
/*
  text-align: center;
  letter-spacing: -0.015em; */
}



/* product page -----------------------------------------------------------------*/
.banner {
  /* padding: 0px 0px 0%; */
  text-align: center;
  font-family: Montserrat;
  color: rgba(255,255,255,0.800000011920929);
  /* background: url(../images/v29_687.png) 50% 0 no-repeat fixed; */

  background-size: cover;
  background-attachment: initial;
  background-origin: initial;
  background-position: center;
  z-index: auto;

}

.productFeatureDiv {
  padding-top: 40px;
  font-family: Montserrat;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  opacity: 1;
}

.productFeatureText {
  padding-top: 30px;
}

.productFeatureImg {
  object-fit: contain;
  width: 100%;
  opacity: 1;
}

.productDescriptionDiv {
  padding-top: 20px;
  /* height: 80%; */
}

.productDescriptionText {
  padding-top: 5%;
}


.productDescriptionImg {
  object-fit: cover;
  width: 100%;
  opacity: 1;
}


/* education page -----------------------------------------------------------------*/
.educationBanner{
  height:  470px;
  text-align: center;
  font-family: Montserrat;
  background: url('../images/v29_600.png') no-repeat fixed;
  background-attachment: fixed;
  background-size: cover;
  /* padding: auto; */
  margin-top: auto;
  margin-bottom: auto;
  /* background-position: center; */
  background-attachment: initial;
}

.educationBanner .title{
  padding-top: 270px;
  padding-left: 20%;
  text-align: left;
  font-family: Montserrat;
  font-weight: Bold;
  color: white;
}

.edu-v3-text{
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 140px;
}

.eduEquipmentBlock{
  padding-top: 20px;
  padding-bottom: 40px;
  background-color: lightgrey;
}



/* about us page -----------------------------------------------------------------*/

.aboutusBanner{
  height:  550px;
  text-align: center;
  font-family: Montserrat;
  background: url('../images/v201_585.png') no-repeat fixed;
  background-attachment: fixed;
  background-size: cover;
  /* padding: auto; */
  margin-top: auto;
  margin-bottom: auto;
  /* background-position: center; */
  background-attachment: initial;
}



.imgBtn{
  background-color: transparent;
  border-color: #007bff;
  border-radius: 5px;
  border-style: solid;
  box-shadow: 0;
}

.imgBtn:hover {
  background-color: #e1efff;
  /* border: 0;  */
}

.imgBtn:focus {
  background-color: #cee2fa;
  /* border: 0;  */
}

/* nav bar -----------------------------------------------------------------*/
.text-left{
  padding-left: 30px;
}

.navbar-collapse{
  height: 200px;
  z-index: 1001;
  position: relative;
  overflow: visible;
}
.navbar-expand-lg{
  height: 100px;
  z-index: 1001;
  position: relative;
  overflow: visible;
}

.navbarContainer{
  padding-right: 10px;
  z-index: 1001;
  position: relative;
  overflow: visible;
}

.navbar-social-media{
  margin-right: 10px;
}

.social_media_icon{
  height : 25px;
  width : 25px;
}

.about-us{
  position: relative;
  top:-180px;
  left:50px;
  width:50%;
  font-size: 500%;
  font-weight:bold;
}

.slogan{
  font-size: 200%;
  color: grey;
  text-align:center;
}

.sloganTextDiv {
  padding-top: 3.5%;
}

.social-media-icon{

}

.dropdown-toggle{
  z-index: 10000;
  position: relative;
  overflow: visible;
}

.pilaBanner{
  width: 100%;
  height:  100%;
  /* min-height: 900px; */
  text-align: center;
  font-family: Montserrat;
  background: linear-gradient(to bottom right, rgba(0,0,0,0.9),rgba(255,255,255,0.4)), url('../images/P_20200118_110445.jpg') no-repeat fixed;
  /* background-attachment: fixed; */
  background-size: cover;
  /* padding: auto; */
  /* margin-top: auto;
  margin-bottom: auto; */
  background-position: bottom right;
  background-attachment: initial;
  /* object-fit: contain; */
}

.productHeader{
  /* position: relative; */
  /* top:100px;
  left:50px;
  width:50%;
  font-size: 500%; */
  padding: 10% 5% 0;
  font-weight:bold;
}

.productBar{
  background-color: #333;
  padding: 12px 5% 12px;
  /* margin: 0; */
}

.productBookmarks:link{
  color:#ddd;
}

.productBookmarks:visited{
  color:#ddd;
}

.productBookmarks:hover{
  color:#ddd;
}

.productBookmarks:active{
  color:#ddd;
}

.pilaAdv{
  width:auto;
  height: auto;
  text-align: center;
  font-family: Montserrat;
  background-color: #fff;
  color:black;
}

.pilaFeature1{
  width:auto;
  height: auto;
  text-align: center;
  font-family: Montserrat;
  background-color: #333;
  background: linear-gradient(135deg, #000 0%, #797979 100%);  opacity: 0.95;
}

.pilaFeature2{
  width:auto;
  height: auto;
  text-align: center;
  font-family: Montserrat;
  background: rgba(0, 202, 255, 1);
  background: linear-gradient(135deg, rgba(0, 50, 200, 0.8) 0%, rgba(0, 202, 255, 1) 100%);  opacity: 0.95;
}

.pilaFeature3{
  width:auto;
  height: auto;
  text-align: center;
  font-family: Montserrat;
  background: #3d7a37;
  background: linear-gradient(135deg, #c86f1a 0%, #c64dd1 100%);  opacity: 0.95;
}

.productTitle{
  /* position: relative; */
  /* padding-top: 8%; */
  font-size: 200%;
  font-weight:bold;
}

.productDes{
  /* position: relative; */
  /* padding-top: 20%; */
  font-size: max(1.5vw,20px);
}

.productSpec{
  background-color: #333;
  height: auto;
  padding: 17%;
  color: #fff;
}

.productSpecTitle{
  font-size: 2vw;
  font-weight: bold;
}

.productSpecDes{
  color: #ccc;
  /* padding-top:10px; */
  font-size: 0.8vw;
}

.productDl{
  height:800px;
  padding: 100px;
  background-color: #87CEFA;
  color: #333
}

.productDlTitle{
  font-size: 240%;
  font-weight: bold;
}

.productDlDes{
  padding-top:10px;
  font-size: 120%
}

/* services page-----------------------------------------------------------------*/
.tag {
  opacity: 0;
  transform: translate(0, -10vh);
  transition: all 2s;
}

.tag.visible {
  opacity: 1;
  transform: translate(0, 0);
}
.sectionDivEdu{
  height:100vh;
}
.on-site-courses{
  font-size: 30px;
  padding-left: 20px;
}
.edu_title{
  font-size: 50px;
  padding: 150px;
  margin: auto;
  font-weight: bold;
  color: #ADD8E6;

}
.edu_slogan{
  font-size: 30px;
  padding-left: 20px;
  padding-bottom: 30px;
  width: 50%;
}
.edu_div_img{
    max-height: 800px;
    max-width: 800px;
    height: auto;
    width: auto;
}

.overview{
  position: relative;
  margin: auto;
}
.overview-item{
  /* max-width: 200px;
  padding: 20px; */
  width: 33%;
}

.overview-title{
  text-align: center;
}

.overview-img{
  width: 200px;
}

.ser_certificate{
  color: #808080;
}

.sectionDivSer{
  padding-top: 50px;
  padding-bottom: 200px;
  height:auto;
}

.service_col{
  max-width: 1500px;
  min-width: 500px;

}

.ser_title{
  /* font-size: 30px; */
  font-weight: bold;
  color: #00008B;
}
.ser_photo{
  max-width: 99%;
  max-height: 99%;
  padding-left: 30px;
}
.ser_brief{
  padding-bottom: 50px;
}
.ser_target{
}
.ser_target_content{
}

/* ---------------------design consultant service---------------- */
.design_title{
  font-size: 50px;
  padding: 150px;
  margin: auto;
  font-weight: bold;
  color: #ADD8E6;
  text-align: center;
}
#contact-us-button{
  box-shadow: 0px 1px 0px 0px #1c1b18;
	background:linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
	background-color:#eae0c2;
	border-radius:15px;
	border:2px solid #333029;
	display:inline-block;
	cursor:pointer;
	color:#505739;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:12px 16px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
  /* margin-left: 250px;
  margin-right: 250px; */
}
#contact-us-button:hover{
  background:linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
	background-color:#ccc2a6;
}
#contact-us-button:active{
  position:relative;
  top:1px;
}

.tag2 {
  opacity: 0;
  transform: translate(0, 10vh);
  transition: all 2s;
}

.tag2.visible2 {
  opacity: 1;
  transform: translate(0, 0);
}

.design1{
  width: auto;
  height: 100vh;
  /* text-align: center; */
  font-family: Montserrat;
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../images/coding.jpg') no-repeat fixed;
  background-attachment: fixed;
  background-size: cover;
  /* padding: auto; */
  margin-top: auto;
  margin-bottom: auto;
  /* background-position: center; */
  background-attachment: initial;
  position: relative;
}

.design2{
  width: auto;
  height: 100vh;
  text-align: center;
  font-family: Montserrat;
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../images/v30_295.png') no-repeat fixed;
  background-attachment: fixed;
  background-size: cover;
  /* padding: auto; */
  margin-top: auto;
  margin-bottom: auto;
  /* background-position: center; */
  background-attachment: initial;
  position: relative;
}

.design3{
  width: auto;
  height: 100vh;
  text-align: center;
  font-family: Montserrat;
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../images/v30_295.png') no-repeat fixed;
  background-attachment: fixed;
  background-size: cover;
  /* padding: auto; */
  margin-top: auto;
  margin-bottom: auto;
  /* background-position: center; */
  background-attachment: initial;
  position: relative;
}
#design_title1{
  text-align: left;
  padding-top: 250px;
  padding-left: 50px;
  font-size: 80px;
}
#design_description1{
  text-align: left;
  padding-top: 50px;
  padding-left: 50px;
  font-size: 50px;
}
#design_title2{
  text-align: left;
  padding-top: 250px;
  padding-left: 50px;
  font-size: 80px;
}
#design_description2{
  text-align: left;
  padding-top: 50px;
  padding-left: 50px;
  font-size: 50px;
}
.design_title{

}
.design_description{

}
/* ---------------CONTACT US PAGE-----------------------*/
.sectionDivContactus{
  height:70vh;
}
.captionContactus{
  padding-top: 30vh;
  padding-left: 10vh;
}
